
<form [formGroup]="publisherFormGroup" class="publisher-form">

  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name">
    <mat-hint align="end">The name of the publisher</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Responsible" formControlName="responsible">
    <mat-hint align="end">The Responsible of the publisher</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Responsible_vorname" formControlName="responsible_vorname">
    <mat-hint align="end">The responsible_vorname of the author</mat-hint>
  </mat-form-field>

  <app-date placeholder="Gruendungsdatum" formControlName="gruendungsdatum" hint="Gruendungsdatum des Verlages"
            [required]="true"></app-date>
  <br>
  <mat-checkbox formControlName="scientific">scientific</mat-checkbox>
  <br/>




  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!publisherFormGroup.valid" (click)="createPublisher()">
      <span *ngIf="!publisherFormGroup.controls.id.value">Create</span>
      <span *ngIf="publisherFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>
